# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

//Google Earth golf course visualization walk through.
//Db stores links for google earth view to walk through Tee/Approach shots 1-18
